form{
    width: 960px;
    border: solid 1px;
    padding: 10px;
    color: rgb(42, 71, 165);
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    
}

input{
    width:790px;
    margin: 2%;
    padding: 16px 5px;
}

button{
    margin: 2%;
    width: 810px;
    padding: 12px 10px;
    border: none;
    font-size: x-large;
    background-color: rgb(42, 71, 165);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

h2{
    font-size: xx-large;
    text-align: center;
}